body {
    font-family: sans-serif;
    padding: 0 20px;
  }
  
  h1 {
    text-align: center;
    font-weight: 900;
    margin: 0;
    font-size: 34px;
    line-height: 48px;
  }
  
  h1 h2,
  h3 {
    color: #231d3c;
  }
  /*
  .SheCodesLogo {
    display: block;
    margin: 30px auto;
    width: 150px;
  }
  .email-link:hover {
    color: red;
    text-decoration: underline;
  }
  .aboutBack-link:hover{
    color: red;
    text-decoration: underline;
  }
  .contactBack-link:hover{
    color: red;
    text-decoration: underline;
  }
  .goAbout-Link:hover{
    color: red;
    text-decoration: underline;
  }
  .goContact-Link:hover{
    color: red;
    text-decoration: underline;
  }*/
  a:hover{
    color: red;
  
  }
  
  a:visited {
    color: green;
  }